PetStoryTestProject/PetStoryTestProject/obj/*
PetStoryTestProject/.vs
PetStoryTestProject/obj/*
.PetStoryTestProject/PetStoryTestProject/obj/*
PetStoryTestProject/PetStoryTestProject/obj/*
.vs/*

PetStory/PetStory/obj/*
PetStory/.vs
PetStory/obj/*
.PetStory/PetStory/obj/*
PetStory/PetStory/obj/*
.vs/*

PetStory/bin/Debug/netcoreapp2.1/*
