@{
    ViewData["Title"] = "About";
}

<script>
	InitialFacebook(456197441531202);
</script>
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
